*.pyc
__pycache__
attic/old_tests/.pytest_cache
attic/old_tests/output/*
!attic/old_tests/output/.gitkeep
attic/old_tests/testarea/
C/bin/
C/config.log
C/config.status
C/Makefile.config
C/src/*.o
C/src/*.d
C/src/oldvalades
C/src/psvtoxml
C/src/testthings
C/src/testthings2
C/src/unittest
C/src/valades
C/src/valall
C/src/valgeneral
C/src/valsubmit
C/src/writexml
C/src/xmltopsv
.vscode
.DS_Store
env/
build/
*.egg-info
_version.py
dist/
Python/ades/data/*
*.file # test files
